
body {background-color: #98AFC7;
text-align: center;}

h1 {text-align: center;
padding-top:30px;
padding-bottom: 30px;
background-color: #000080;
background-size: auto;
color:white;
border-radius: 25px;
}

img {
height: 50px;
width: 80px;
}

footer {
height: 0;
}

}

#result {
  margin-left: auto;
}

#box {
height: auto;
width: auto;
background-color: red;

}
